<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: #f5f5f5;

}


/*-------container left-----------*/

.container-left {
    width: 45vw;
    height: 50vh;
    margin: 30px 30px 30px 0;
    padding: 80px;
    line-height: 30px;
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to top right, #021b79, rgb(8, 106, 226));
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    min-height: 90vh;
    min-width: 45vw;
    box-shadow: 7px 10px 20px 0px rgb(122, 122, 122);
    position: fixed;

}

.container-left-son {
    position: static;
}


.profile {
    width: 210px;
    box-shadow: 8px 3px 4px 2px #086ae2;
    border-radius: 100%;
    transition: 1s;
}

.profile:hover {
    transform: translateY(-25px);

}

.portfolio {
    margin: 30px;
    font-size: 50px;
    color: #fff
}

.name {
    margin: 10px;
    font-size: 20px;
    color: #086be4;
    text-align: center;

}

.office {
    font-weight: 200;
    font-size: 15px;
    color: #fff;
    text-align: center;
}


.links {
    left: 10px;
    position: relative;
    cursor: pointer;
    top: 10px;
    justify-content: center;
    font-size: 0;

}

.social .linkedin, .github, .instagram, .whatsapp {
    width: 40px;
    border: none;
    align-items: center;
    margin-right: 20px;
    transition: 0.4s;

}

.social img:hover {
    transform: translateY(-7px);

}
.github {
    border-radius: 80%;
}

.reserve {
    margin-top: 0px;
    font-size: 9px;
    font-weight: 200;
    color: gainsboro;

}

/*-------container right-----------*/

.container-right {
    width: 100vh;
    height: 100vh;
    display: block;
    position: absolute;
    align-items: center;
    margin: 25px;
    left: 50%;

}



.all-skills {
    bottom: 40px;
    position: relative;

}

.soft {
    margin: 30px;
    color: #086be4;
    font-weight: 400;

}

.culture {
    font-weight: 300;
}

.hard {
    margin: 30px;
    color: #086be4;
    font-weight: 400
}

.project {
    margin: 30px;
    color: #086be4;
    font-weight: 400
}

p {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    width: 95%;
    margin:-20px 30px 30px 0;
}

span {
    font-weight: 500
}


/*-------responsividade-----------*/
@media screen and (max-width: 1000px) {
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: #f5f5f5;

}


/*-------container left-----------*/

.container-left {
    width: 45vw;
    height: 50vh;
    margin: 30px 30px 30px 0;
    padding: 80px;
    line-height: 30px;
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to top right, #021b79, rgb(8, 106, 226));
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    min-height: 90vh;
    min-width: 45vw;
    box-shadow: 7px 10px 20px 0px rgb(122, 122, 122);
    position: fixed;

}

.container-left-son {
    position: static;
}


.profile {
    width: 210px;
    box-shadow: 8px 3px 4px 2px #086ae2;
    border-radius: 100%;
    transition: 1s;
}

.profile:hover {
    transform: translateY(-25px);

}

.portfolio {
    margin: 30px;
    font-size: 50px;
    color: #fff
}

.name {
    margin: 10px;
    font-size: 20px;
    color: #086be4;
    text-align: center;

}

.office {
    font-weight: 200;
    font-size: 15px;
    color: #fff;
    text-align: center;
}


.links {
    left: 10px;
    position: relative;
    cursor: pointer;
    top: 10px;
    justify-content: center;
    font-size: 0;

}

.social .linkedin, .github, .instagram, .whatsapp {
    width: 40px;
    border: none;
    align-items: center;
    margin-right: 20px;
    transition: 0.4s;

}

.social img:hover {
    transform: translateY(-7px);

}
.github {
    border-radius: 80%;
}

.reserve {
    margin-top: 0px;
    font-size: 9px;
    font-weight: 200;
    color: gainsboro;

}

/*-------container right-----------*/

.container-right {
    width: 100vh;
    height: 100vh;
    display: block;
    position: absolute;
    align-items: center;
    margin: 25px;
    left: 50%;

}



.all-skills {
    bottom: 40px;
    position: relative;

}

.soft {
    margin: 30px;
    color: #086be4;
    font-weight: 400;

}

.culture {
    font-weight: 300;
}

.hard {
    margin: 30px;
    color: #086be4;
    font-weight: 400
}

.project {
    margin: 30px;
    color: #086be4;
    font-weight: 400
}

p {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    width: 95%;
    margin:-20px 30px 30px 0;
}

span {
    font-weight: 500
}


/*-------responsividade-----------*/
@media screen and (max-width: 1000px) {
>>>>>>> e1ebf0b41f088be62f945b84b04fa8a1616a5835
}