* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}


/*-------container left-----------*/

.container-left {
    width: 45vw;
    height: 190vh;
    padding: 120px;
    line-height: 30px;
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to top right, #021b79, rgb(8, 106, 226));
    border-top-right-radius: 10rem;
    min-height: 110vh;
    min-width: 30vw;
    box-shadow: 7px 10px 20px 0px rgb(122, 122, 122);
    

}

.profile {
    width: 250px;
    transition: 2s;
    box-shadow: 8px 3px 4px 2px #086ae2;
    border-radius: 100%;

}

.profile:hover {
    transform: translateY(-25px);

}

.portfolio {
    margin-top: 50px;
    font-size: 80px;
    color: #fff
}

.name {
    margin-top: 20px;
    font-size: 23px;
    color: #086be4;
    text-align: center;

}

.office {
    font-weight: 100;
    font-size: 18px;
    color: #fff; 
    text-align: center;
}

/*-------container right-----------*/

.container-right {
    width: 50%;
    height: 100vh;
    display: inline-block;
    position: absolute;
    align-items: center;
    margin: 25px;
    
}

.links {
    margin-left: 200px;
    position: relative;
    cursor: pointer;
    padding: 20px;
    justify-content: center;
    font-size: 0;

}

.social .linkedin, .github, .instagram, .whatsapp {
    width: 40px;
    border: none;
    align-items: center;
    margin-right: 20px;
    transition: 0.6s;
    
}

.social img:hover {
    transform: translateY(-7px);

}


.all-skills {
    margin-top: 80px;
    position: relative;

}

.soft {
    margin: 30px;
    color: #086be4;
    font-weight: 400;
    
}

.hard {
    margin: 30px;
    color: #086be4;
    font-weight: 400
}

.project {
    margin: 30px;
    color: #086be4;
    font-weight: 400
}
p {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    width: 95%;
    
}
span {
    font-weight:400

}


/*-------responsividade-----------*/
@media screen and (max-width: 900px) {
    .container-left {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;

    }
}